body {
    background-image: url("statics/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

/* Form Container */
.form-style {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    width: 500px;
    margin: 150px auto;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Inputs */
.form-style-input {
    width: 300px;
    font-size: 20px;
    padding: 10px;
    display: block;
    margin: 10px auto;
}

/* Buttons */
.login-button {
    color: white;
    background-color: rgb(106, 0, 106);
    border: 1px solid rgb(238, 232, 237);
    font-size: large;
    padding: 10px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(2, 2, 2);
}

/* Links */
a {
    color: rgb(106, 0, 106);
    text-decoration: none;
}

a:hover {
    color: black;
}

/* Button group */
.btn {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Radio buttons */
.radio-gender {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

/* Checkbox group */
.checkbox-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
